@model vidly.ViewModels.IndexViewModel
@{

    ViewBag.Title = "Display Movie Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movies</h2>

<ul>
    @foreach (var movie in Model.Movie)
    {
        <li>
            <a href="/movies/Display/?movieId=@movie.Id">@movie.Name</a>
        </li>
    }
</ul>



