@model vidly.Models.Customer
@{
    ViewBag.Title = "CustomerDisplay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Customer Name: @Model.Name</h3>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>


    @if (@Model.BirthDate.HasValue)
    {
        <li>BirthDate: @Model.BirthDate.Value.ToShortDateString()</li>
    }
</ul>