@model vidly.ViewModels.IndexViewModel
@{

    ViewBag.Title = "Display Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<ul>

    <li>
        @foreach (var customer in Model.Customers)
        {

            @*@<a> href="/customers/Display/@customer.Id">@customer.Name</a>*@
        <p>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</p>
        <p>@customer.MembershipType</p>

        }
    </li>
</ul>
   

    

