@model vidly.ViewModels.IndexViewModel
@{

    ViewBag.Title = "Display Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>
            <a href="/customers/Display/@customer.Id">@customer.Name</a>
        </li>
    }
</ul>
   

    

